In [6]:
import pandas as pd
import numpy as np
import os


from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

In [39]:
start_dir = os.getcwd()
os.chdir("..")
path_to_data = os.getcwd() + os.path.join(os.path.sep, 'data')
path_to_clean_stats = os.getcwd() + os.path.join(os.path.sep, 'data', 'clean_stats.tsv')
os.chdir(start_dir)
print(path_to_clean_stats)

/Users/Malfrine/OneDrive - purdue.edu/IE 537 - Project/repo/data/clean_stats.tsv

In [32]:
result = pd.read_csv(path_to_clean_stats, sep='\t')
result["pred_perf"] = ""
result.head()

,player,pos,tm,season,perf,salary,pred_perf
0,Aaron Brooks,PG,"['TOT, HOU, PHO', 'TOT, SAC, HOU', 'TOT, HOU, ...","['2010-11', '2012-13', '2013-14', '2014-15', '...","[1766, 1086, 1932, 1293, 730]","$2,700,000",
1,Aaron Gordon,PF,"['ORL', 'ORL']","['2014-15', '2015-16']","[450, 1402]","$4,351,320",
2,Aaron Gray,C,"['NOH', 'TOR', 'TOR', 'TOT, TOR, SAC']","['2010-11', '2011-12', '2012-13', '2013-14']","[307, 487, 261, 370]","$452,059",
3,Aaron Harrison,SG,['CHO'],['2015-16'],[37],"$375,579",
4,Adreian Payne,PF,"['TOT, ATL, MIN', 'MIN']","['2014-15', '2015-16']","[778, 263]","$2,022,240",

In [34]:
for index, row in result.iterrows():
    row.pred_perf = np.mean(eval(row.perf))
result.head()

,player,pos,tm,season,perf,salary,pred_perf
0,Aaron Brooks,PG,"['TOT, HOU, PHO', 'TOT, SAC, HOU', 'TOT, HOU, ...","['2010-11', '2012-13', '2013-14', '2014-15', '...","[1766, 1086, 1932, 1293, 730]","$2,700,000",1361.4
1,Aaron Gordon,PF,"['ORL', 'ORL']","['2014-15', '2015-16']","[450, 1402]","$4,351,320",926
2,Aaron Gray,C,"['NOH', 'TOR', 'TOR', 'TOT, TOR, SAC']","['2010-11', '2011-12', '2012-13', '2013-14']","[307, 487, 261, 370]","$452,059",356.25
3,Aaron Harrison,SG,['CHO'],['2015-16'],[37],"$375,579",37
4,Adreian Payne,PF,"['TOT, ATL, MIN', 'MIN']","['2014-15', '2015-16']","[778, 263]","$2,022,240",520.5

In [37]:
final = result[['player','pos','salary','pred_perf']]
final.set_index('player')

                    pos        salary pred_perf
player
Aaron Brooks         PG   $2,700,000     1361.4
Aaron Gordon         PF   $4,351,320        926
Aaron Gray            C     $452,059     356.25
Aaron Harrison       SG     $375,579         37
Adreian Payne        PF   $2,022,240      520.5
Al Horford            C  $26,540,100    1631.17
Al Jefferson          C  $10,230,179    2036.33
Al-Farouq Aminu      SF   $7,680,965    1065.83
Alan Anderson        SF   $1,315,448      576.8
Alan Williams        PF     $874,636         75
Alec Burks           SG  $10,154,495      768.4
Alex Len              C   $4,823,621        839
Alexis Ajinca         C   $4,600,000      649.5
Allen Crabbe         SG  $18,500,000        503
Alonzo Gee           SG   $1,400,000        893
Alonzo Gee           SG     $417,848        893
Alonzo Gee           SG      $77,379        893
Amir Johnson         PF  $12,000,000       1305
Anderson Varejao      C   $1,984,005    752.167
Anderson Varejao      C   $1,551,659    752.167
Andre Drummond        C  $22,116,750    2108.25
Andre Iguodala       SF  $11,131,368    1395.17
Andre Roberson       SG   $2,183,072    492.667
Andrea Bargnani       C     $323,599    838.667
Andrew Bogut          C  $11,027,027    1036.33
Andrew Nicholson     PF   $6,088,993        616
Andrew Wiggins       SF   $6,006,600       1981
Anthony Bennett      PF   $1,015,696    330.667
Anthony Brown        SF     $874,636        208
Anthony Brown        SF     $108,043        208
...                  ..           ...       ...
Tony Snell           SG   $2,368,327    595.667
Tony Wroten          SG      $25,000      548.5
Trevor Ariza         SF   $7,806,971    1390.17
Trevor Booker        PF   $9,250,000    842.833
Trey Burke           PG   $3,386,598       1259
Trey Lyles           PF   $2,340,600        825
Tristan Thompson     PF  $15,330,435     1478.4
Troy Daniels         SG   $3,332,940    264.667
Ty Lawson            PG   $1,315,448     1673.5
Tyler Ennis          PG   $1,733,880        388
Tyler Johnson        SG   $5,628,000        409
Tyler Zeller          C   $8,000,000     957.25
Tyreke Evans         SG  $10,661,286       1506
Tyson Chandler        C  $12,415,000    1389.33
Tyus Jones           PG   $1,339,680        312
Udonis Haslem        PF   $4,000,000    485.167
Victor Oladipo       PG   $6,552,960    1764.33
Vince Carter         SG   $4,264,057    1356.83
Wayne Ellington      SG   $6,000,000    797.667
Wayne Ellington      SG     $923,670    797.667
Wesley Johnson       SG   $5,628,000        954
Wesley Matthews      SG  $17,100,000    1479.17
Will Barton          SG   $3,533,333        968
Willie Cauley-Stein   C   $3,551,160        920
Willie Reed           C   $1,015,696        334
Wilson Chandler      SF  $11,200,000       1443
Yi Jianlian          PF     $250,000        385
Zach LaVine          PG   $2,240,880     1349.5
Zach Randolph        PF  $10,361,445    1844.33
Zaza Pachulia         C   $2,898,000    996.333

[468 rows x 3 columns]

In [40]:
path_to_final = os.path.join(path_to_data, 'final.csv')
final.to_csv(path_to_final,index=False)